*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: #1f2632; }

html {
  font-size: 62.5%; }

body {
  font-size: 2.8rem;
  font-family: "Manrope", sans-serif; }

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1.5rem; }

.attribution a {
  color: #3e52a3; }

.main {
  position: relative;
  display: grid;
  place-content: center;
  margin-bottom: 6rem; }

.container {
  background-color: #323a49;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
  width: 60rem;
  border-radius: 1rem;
  padding: 4rem;
  padding-bottom: 5rem;
  gap: 3rem;
  box-shadow: 0px 2px 10px 10px rgba(0, 0, 0, 0.02); }

.number {
  color: #52ffa8;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2.4px; }

.quote {
  font-size: 2.8rem;
  color: #cee3e9;
  text-align: center; }

.divider {
  background-image: url(../images/pattern-divider-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
  height: 2rem; }

.dice {
  background-color: #52ffa8;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  cursor: pointer; }
  .dice:hover {
    box-shadow: 0px 0px 13px 7px rgba(82, 255, 168, 0.5); }

@media (max-width: 800px) {
  .container {
    width: clamp(330px, calc(20.625rem + ((1vw - 3.75px) * 63.5294)), 600px);
    padding-left: clamp(20px, calc(1.25rem + ((1vw - 3.75px) * 4.7059)), 40px);
    padding-right: clamp(20px, calc(1.25rem + ((1vw - 3.75px) * 4.7059)), 40px); }
  .number {
    font-size: clamp(13px, calc(0.8125rem + ((1vw - 3.75px) * 0.4706)), 15px); }
  .quote {
    font-size: clamp(20px, calc(1.25rem + ((1vw - 3.75px) * 1.8824)), 28px); } }
